<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
    <!-- A definicao a seguir obriga o IE a trabalhar em Vista de Compatibilidade IE11 -->
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=EmulateIE10,chrome=1"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="ConnBTT" connectionString="Server=94.46.14.230\MSSQLSERVER2016; Database=cashdro_teste; User Id=alourenco; Password=*kk310910*;" providerName="System.Data.SqlClient"/>
    <add name="connectionString" connectionString="Server=94.46.14.230\MSSQLSERVER2016; Database=clinicoimbra; User Id=alourenco; Password=*kk310910*;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>